/* AdminDashboard.css */

.dashboard {
    text-align: center;
    margin-top: 50px;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #45a049;
}


.buttonEmployee {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
