.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    margin-bottom: 20px; /* Espacio inferior para el título */
}

.form-element {
    margin-top: 10px; /* Espacio superior */
    margin-bottom: 10px; /* Espacio inferior */
    padding: 8px;
    width: 50%; /* Ajusta el ancho de los elementos */
    box-sizing: border-box;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}
