/* src/WorkLogs.css */

.work-logs {
    margin: 0 auto;
    max-width: 800px;
  }
  
  .date-picker-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    background-color:#ff9800;
    color: white;
    text-align: center;
  }
  
  .table td {
    text-align: center;
  }
  